In [60]:
import pandas as pd

In [61]:
data = [['Helene','16-20th September', '2018', 'Yellow', '126 km/h', '29.1 inHg', 'None', 'None', 'Unknown', 'Portugal, Spain, United Kingdom'], 
    ['Ali', '17-22th September', '2018', 'Amber', '164 km/h', '28.6 inHg', '2', '286,000+', '€8.8 million', 'Norway, United Kingdom'], 
        ['Bronagh', '20-25th September', '2018', 'Yellow', '154 km/h', '28.6 inHg', '3', 'Unknown', '€8.8 million', ' Norway, United Kingdom, Denmark, Germany, Poland'], 
        ['Callum', '10–16th October', '2018', 'Unknown', '122 km/h', '27.7 inHg', '2', 'Unknown', 'Unknown', 'United Kingdom'], 
        ['Diana','27–30th November', '2018', 'Uknown', '180 km/h', '28 inHg', '3', 'Unknown', 'Unknown', 'Azores, United Kingdom'],
       ['Erik', '08–09th February', '2019', 'Unknown', '138 km/h', 'Unknown', '2', 'Unknown', 'Unknown', 'United Kingdom' ],
       ['Gareth', '12–13th March', '2019', 'Unknown', '130 km/h', '28.7 inHg', 'None', 'Unknown', 'Unknown', 'United Kingdom'],
       ['Hannah', '26–27th April', '2019', 'Unknown', '132 km/h', '29.1 inHg', 'None', '32,000+', 'Unknown', 'United Kingdom']]

In [62]:
df = pd.DataFrame(data, columns = ['Name', 'Date', 'Year', 'Warning', 'Max speed', 'Min Pressure', 'Deaths', 'Blackouts', 'Damages', 'Other countries affected']) 
df

,Name,Date,Year,Warning,Max speed,Min Pressure,Deaths,Blackouts,Damages,Other countries affected
0,Helene,16-20th September,2018,Yellow,126 km/h,29.1 inHg,None,None,Unknown,"Portugal, Spain, United Kingdom"
1,Ali,17-22th September,2018,Amber,164 km/h,28.6 inHg,2,"286,000+",€8.8 million,"Norway, United Kingdom"
2,Bronagh,20-25th September,2018,Yellow,154 km/h,28.6 inHg,3,Unknown,€8.8 million,"Norway, United Kingdom, Denmark, Germany, Poland"
3,Callum,10–16th October,2018,Unknown,122 km/h,27.7 inHg,2,Unknown,Unknown,United Kingdom
4,Diana,27–30th November,2018,Uknown,180 km/h,28 inHg,3,Unknown,Unknown,"Azores, United Kingdom"
5,Erik,08–09th February,2019,Unknown,138 km/h,Unknown,2,Unknown,Unknown,United Kingdom
6,Gareth,12–13th March,2019,Unknown,130 km/h,28.7 inHg,None,Unknown,Unknown,United Kingdom
7,Hannah,26–27th April,2019,Unknown,132 km/h,29.1 inHg,None,"32,000+",Unknown,United Kingdom